.dheader{
    background-color: white;
    border-radius: 12px 12px 0 0;
    position: absolute;
    bottom: -1vh;
    width: 100vw;
    z-index:999;
}

.tbheader{
    --ion-color-primary: #003771;
}
.header{
    background-color:#003771;
    padding: 25px 0 50px;

}
.header-ios ion-toolbar:last-of-type{
    --border-width: 0;
    --box-shadow: none;
}

ion-title{
    font-size: 30px;
    margin-left: -20px;
}
// .chat-container{
//     background-color: white;   
//     border-radius: 12px 12px 0 0; 
//     padding: 16px 12px 0;
//     height: 100%;
// }
.content::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}
.content{
    --background: white;
    --padding-top:12px;
    // min-width: 100vw;
}
// .inner-scroll scroll-y{

// }

.space{
    padding-top: 2px;
    padding-bottom:132px;
    // border:none;
}
.chat{
    background: white;
    padding:14px 14px 5px 20px;
    // padding-bottom: 5px;
    // padding-left: 20px;
    // margin: 8px 0px 20px 5vw;
    margin: 8px 30px 20px 5vw;
    // width: 85vw;
    width: fit-content;
    max-width: 85vw;
    border: 1px solid #CBDFF0;
    border-radius: 12px 12px 12px 0;
    color: #003771;
    font-size: 12pt ;
    line-height: 3vh;
    // box-shadow: 5px 2.5px 2.5px rgba(0, 67, 67, 0.07);
}
.time{
    font-size: 11px;
    line-height: 12px;
    text-align: right;
    margin: 8px 0px;
}

#logo{
    margin-bottom: 7px;
}

.chat_2{
    background: #006FCF;
    padding:16px 20px 5px 20px;
    margin: 0 5vw 20px auto;
    width: fit-content;
    max-width: 85vw;
    box-sizing: border-box;
    // box-shadow: 5px 2.5px 2.5px rgba(5, 100, 100, 0.2);
    border: 1px solid #0066c0;
    border-radius: 12px 12px 0px 12px;
    color: whitesmoke;
    font-size: 12pt;
    line-height: 3vh;
    text-align: end;
    img{
        display: none;
    }
}
.time_2{
    font-size: 11px;
    line-height: 12px;
    text-align: right;
    margin: 8px 0px;
    color: whitesmoke;
}

.chat_3{
    display: flex;
    background: white;
    padding:14px;
    padding-bottom: 5px;
    margin: 0px 200px 20px 5vw;
    width: 43vw;
    border: 1px solid #CBDFF0;
    border-radius: 12px 12px 12px 0;
    box-shadow: 5px 2.5px 2.5px rgba(0, 67, 67, 0.05);

    .logo {
        margin-right: 15px;
        margin-bottom: 12px;
        max-width: 60px;
        max-height: 24px;
    }
    .points {
        margin: auto;
        margin-left: 1vw;
        width: 10vw;
        height: 10vw;
        max-width: 50px;
        max-height: 50px;
    }
}
p{
    margin: auto;
    padding: 3px;
}


.buttons{
    margin: 2px 3px 80px;
    display: flex;
    .btn{
        font-size: 11pt;
        --ion-color-warning-contrast: #ffffff;
        --border-radius: 32px;
        // --box-shadow: 5px 2.5px 2.5px rgba(0, 67, 67, 0.15);
        width: auto;
        height: 6.5vh;
        max-height: 50px;
        &.last{
            margin-right: 40px;
        }
    }
}
.buttons_2{
    display: flex;
    overflow-x: auto;
    width: 100vw;
    margin-bottom: -9vh;
    margin-left: 3vw;
}
.footer{
        position: fixed;
        bottom: 0;
        --border: none;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        width: 100vw;
        height: auto;
        padding: 12px 0;
}

// .btmsg{
//     margin: 0 auto;
//     bottom: 0;
// }

.inputbutton{
    display: flex;
    justify-content: space-between;
}

.input{
    background: #F9F9F9;
    border: 1px solid #EEEEEE;
    width: 80vw;
    height: 12vw;
    max-height: 1000px;
    border-radius: 50px;
    --padding-start:13px;
    color: #032142;
    font: 10pt;
    margin: 0px 3vw 0px 4vw;

    display: flex;
    text-align: left;
}


.btnsend{
    width: 12vw;
    height: 12vw;
    max-height: 80px;
    max-width: 80px;
    padding: 0;
    background: #006FCF;
    border-radius: 50px;
    ion-icon {
        font-size: 2.3em;
    }
}


@media screen and (min-width: 992px) {
    
    .input{
        height: 75px;
    }
    .space{
        padding-bottom: 150px;
    }
    .btnsend{
        height: 75px;
        width: 80px;
    }
    .btnsendimg{
        width: 40%;
        height: 40%;
    }

    .chat_3{
        justify-content: space-between;
        width: 20vw;
    }

    .buttons_2{
        margin-bottom: -5.5vh;
    }
  }



@media screen and (min-width: 1366px){
    .buttons_2{
        margin-bottom: -7.5vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 15vw;
    }
    .input{
        height: 7vh;
        width: 85vw;
    }
    .btnsend{
        width: 7vh;
        height: 7vh;
    }

    .buttons .btn.last{
        margin-right: 5vw;
    }

    .space{
        padding-bottom: 17vh;
    }
    .footer{
        padding-bottom: 4vh;
    }
}

@media screen and (max-width: 1024px){
    .buttons_2{
        margin-bottom: -7vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 20vw;
        .logo {
            height: 5vh;
            width: 7vh;
            margin-right: 15px;
            margin-bottom: 12px;
            max-width: 60px;
            max-height: 24px;
        }
        .points {
            margin: auto;
            margin-left: 1vw;
            width: 10vw;
            height: 10vw;
            max-width: 50px;
            max-height: 50px;
        }
    }
    
    .input{
        height: 7vh;
    }

    .btnsend{
        height: 7vh;
        width: 7vh;
    }
}

@media screen and (max-height: 1024px){
    .buttons_2{
        margin-bottom: -8vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 20vw;
        .logo {
            height: 5vh;
            width: 7vh;
            margin-right: 15px;
            margin-bottom: 12px;
            max-width: 60px;
            max-height: 24px;
        }
        .points {
            margin: auto;
            margin-left: 1vw;
            width: 10vw;
            height: 10vw;
            max-width: 50px;
            max-height: 50px;
        }
    }
    
    .input{
        height: 7vh;
    }

    .btnsend{
        height: 7vh;
        width: 7vh;
    }
}
@media screen and (min-height: 1366px){
    .buttons_2{
        margin-bottom: -5.5vh;
        // overflow-x: none;
    }
    #logo{
        height: 2.75vh;
        width: 7vh;
    }
    .chat{
        font-size: 18pt;
    }
    .time{
        padding-bottom: 1vh;
        font-size: 13pt;
    }
    .chat_2{
        font-size: 18pt;
    }
    .time_2{
        padding-bottom: 1vh;
        font-size: 13pt;
    }
    .chat_3{
        justify-content: space-between;
        width: 20vw;
        font-size: 20pt;
        .logo{
            height: 2.75vh;
            width: 7vh;
            margin-bottom: 2vh;
            max-width: 96px;
            max-height: 38px;
        }
    }
    .buttons{
        .btn{
            font-size: 18pt;
        }
    }
    
    .input{
        height: 5vh;
        
        font-size: 18pt;
    }
    .btnsend{
        height: 5vh;
        width: 5vh;
        ion-icon{
            font-size: 38pt;
        }
    }
}
@media screen and (min-height: 768px)and (max-height: 768px){
    
    .buttons_2{
        margin-bottom: -9vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 23vw;
    }
    .input{
        height: 8vh;
    }
    .btnsend{
        height: 8vh;
        width: 8vh;
    }
}

@media screen and (min-width: 768px)and (max-width: 768px){
    
    .buttons_2{
        margin-bottom: -7vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 23vw;
    }
    .input{
        height: 6vh;
    }
    .btnsend{
        height: 6vh;
        width: 6vh;
    }
}
@media screen and (min-width: 720px)and (max-width: 720px){
    
    .buttons_2{
        margin-bottom: -10vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 23vw;
    }
    .input{
        height: 6vh;
    }
    .btnsend{
        height: 6vh;
        width: 6vh;
    }
}


@media screen and (max-width: 540px){
    .buttons_2{
        margin-bottom: -9.5vh;
        // overflow-x: none;
    }
    .chat_3{
        justify-content: space-between;
        width: 41.5vw;
    }
    .input{
        height: 6vh;
    }

    .btnsend{
        height: 6vh;
        width: 6vh ;
        ion-icon {
            font-size: 1.7em;
        }
    }
}

@media screen and (min-width: 280px) and (max-width: 280px) {
    .buttons_2{
        margin-bottom: -9vh;
        // overflow-x: none;
    }
    #logo{
        height: 2.75vh;
        width: 7vh;
    }
    .chat{
        font-size: 11pt;
    }
    .time{
        padding-bottom: 0.5vh;
        font-size: 8pt;
    }
    .chat_2{
        font-size: 11pt;
    }
    .time_2{
        padding-bottom: 0.5vh;
        font-size: 8pt;
    }
    .chat_3{
        justify-content: space-between;
        width: 50vw;
        font-size: 20pt;
        .logo{
            height: 2.75vh;
            width: 7vh;
            margin-bottom: 2vh;
            max-width: 96px;
            max-height: 38px;
        }
    }
    .buttons{
        .btn{
            font-size: 10pt;
        }
    }
    
    .input{
        height: 5vh;
        
        font-size: 10pt;
    }
    .btnsend{
        height: 5vh;
        width: 5vh;
        ion-icon{
            font-size: 20pt;
        }
    }
}